/* Background Fallback/default colour */
body{
    background-color: #292929;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* <p>/<a> font */
p, a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 300;
}

/* <h1> font */
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    color: white;
}

/* container class */
.container{
    justify-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
}


/* >>> ---------- NAVIGATION (NAV) BAR ----------<<<*/

.navbar{
    position: relative;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-out;
}

.navbar.sticky {
    position: fixed;
    width: 100%;
    background-color: #363636;
    top: 0;
    z-index: 10000;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav-container{
    max-width: 1300px;
    margin: auto;
}

.bar, .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > .nav-container  > .logo > a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar > .nav-container > .menu  {
    padding: 0px;
    
}

.navbar > .nav-container > .menu > li > a {
    color: #BFBFBF;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    
}

.navbar > .nav-container > .menu > li > a:hover {
    color: #0a99f8;
    
}

.navbar > .nav-container > .menu > li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;

}
