/*
+-----------------------------------------------------------------------------------+ 
|                       Documentation (FOR NAVIGATION):                             |
|       :: Use Ctrl+F To Navigate Through to find the styles for a page ::          |
|       --------------------------------------------------------------------        |
|                                                                                   |
|       > Flexbox fallbacks (defaults)                                              |
|       > NAVIGATION (NAV) BAR                                                      |
|                                                                                   |
|       > index.html                                                                |
|       > awards.html                                                               |
|           > NAVIGATION (BAR) WHITE BACKGROUND                                     |
|       > skills.html                                                               |
|       > contact.html                                                              |
|                                                                                   |
+-----------------------------------------------------------------------------------+
*/



/* Background Fallback/default colour */
body{
    background-color: #292929;
    margin: 0px;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(45%);
}

html{
    scroll-behavior: smooth;
}

.fade-in{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in.appear{
    opacity: 1;
}

/* <p>/<a> font */
p, a{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 300;
}

/* <h1> font */
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    color: white;
}

h2,h3{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 20px;
}

/* >>> ---------- Custom Scrollbar ----------<<<*/
::-webkit-scrollbar{
    width: 15px;
    background-color: transparent;  
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.658);
    transition: all 1s ease-in-out;
    background-blend-mode: darken;
    border-radius: 5px;
}

/*---------------->>> Flexbox fallbacks (defaults) <<<---------------- */

/* container class */
.container{
    justify-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
}

/* card template */
.card{
    display: flex;
    /* flex-wrap: row; */
    flex-direction: column;
    padding: 40px;
    flex-basis: 30%;
    border-radius: 20px;
    background-color: #222222;
    height: 400px;
    }


/* >>> ---------- NAVIGATION (NAV) BAR ----------<<<*/

.navbar{
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-out;
    z-index: 10000;
    padding-top: 5px;
}

.navbar-space{
    height: 51px;
}

.navbar.sticky {
    position: fixed;
    width: 100%;
    background-color: #363636;
    top: 0;
    z-index: 10000;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav-container{
    max-width: 1300px;
    margin: auto;
}

.bar, .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > .nav-container  > .logo > a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar > .nav-container > .menu  {
    padding: 0px;
    
}

.navbar > .nav-container > .menu > li > a {
    color: #BFBFBF;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    
}

.navbar > .nav-container > .menu > li > a:hover {
    font-weight: 600;
    color: #0a99f8;
    border-bottom: 3px solid #0a99f8;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    transition: ease-in-out 0.1s; 
}

.navbar > .nav-container > .menu > li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;

}

#hamburger{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: rgb(170, 170, 170);
    font-weight: 300;
}

.logo{
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    #hamburger{
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }

    .bar{
        position: relative;
        cursor:pointer;
        display: flex;
        justify-content: center;
        position:relative;
        right: 20px;
    }

    .bar .middle{
        height : 4px;
        width: 33px;
        background: white;
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }
    .bar .top{
        bottom: 10px;
        height : 4px;
        width: 35px;
        background: white;
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }
    .bar .bottom{
        top: 10px;
        height : 4px;
        width: 35px;
        background: white;
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }

    #hamburger:checked ~ .bar .top{
        transform: rotate(-45deg);
        width: 27px;
        transform-origin: right;
        top: -10px
    }

    #hamburger:checked ~ .bar .bottom{
        transform: rotate(45deg);
        width: 27px;
        transform-origin: right;
        top: 10px
    }
    
    #hamburger:checked ~ .bar .middle{
        transform: translateX(20px);
        opacity: 0;
    }

    .navbar .menu{
        display: none;
        
    }

    .navbar .menu.open {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 50px;
        left: 0;
        background: rgb(31, 31, 31);
        text-align: center;
        z-index: 100;
    }

    .navbar > .nav-container > .menu > li{
        display: block;
    }

    .navbar > .nav-container > .menu > li > a{
        display: inline-block;
        font-size: 30px;
        margin: 5vh;
        background: rgb(37, 37, 37);
        justify-content: center;
        align-items: center;
        width: 50vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-radius: 30px;
        
    }

    .logo{
        margin-left: 20px;
    }
}

/* >>> ---------- Footer ----------<<<*/
footer{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    padding:10px 5% 10px 5% ;
    background-color: #000000;
    background-image: linear-gradient(147deg, #1f1f1f 0%, #0c1218 74%);
    height: 90px;
    margin-top: 30px;
}

.footer-socials{
    display: flex;
    flex-flow: column;
    flex-basis: 50%;
    justify-content: center;
}

.footer-contact-images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-contact-images > a > img{
    height: 30px;
}

.footer-line{
    z-index: 2;
    border: solid;
    border-color: rgb(31, 31, 31);
    width: 10%;
    border-bottom-width: 1px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
    height: 0px;
}

.footer-header{
    margin: 0px;
}

.footer-legal{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    flex-basis: 50%;
}

.footer-a{
    text-decoration: none;
}

.footer-a:hover{
    font-weight: 600;
    color :rgb(96, 104, 255);
}

@media only screen and (max-width: 768px) {
    footer{
        height: 300px;
    }
    .footer-socials,.footer-legal{
        flex-basis: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
    }


    .footer-socials{
        margin:0px;
    }

    .footer-contact-images{
        align-content: space-between;
    }

    .footer-contact-images > a > img{
        margin: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

/* >>> ---------- index.html ----------<<<*/
.landing{
    min-height: 80vh;
}

.landing-hint{
    display: flex;
    flex-basis: 100%;
    min-height: 5vh;
    justify-content: center;
    background-color: transparent;
    margin-left: 30px;
    margin-right: 30px;
}

.landing-hint > img{
    opacity: 0.5;
    cursor: pointer;
}

.logoflex{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    
    color: #E0E0E0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #E0E0E0;
    font-family: 'Quicksand', sans-serif;
}

#typewriter{
    color: rgb(253, 70, 70);
    margin-top: 2px;
    margin-left: 5px;

    
}

#blinkingCursor{
    margin-top: 2px;
    margin-left: 0px;
    border-right: solid white 2px;
    height: 20px;
}


.indexnav{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
}

.indexnav > div > label{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.indexnav > div > a:link, a:visited{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.indexnav > div > a:hover{
    color: rgb(96, 104, 255);
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.aboutme{
    min-height: 100vh;
    color: white;

    background-color: #537895;
    background-image: linear-gradient(315deg, #061427 0%, #1a1c1d 74%);

    /* background: linear-gradient(to bottom, transparent, #1a1c1d 5%); */
}


#abouttext{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    padding-bottom: 50px;

    flex-basis: 40%;
    border-radius: 20px;
    background-color: transparent;
}

#abouttext>h1{
    font-size: 4em;
}

#abouttext>p{
    font-size: 1.05em;
}

.aboutimage{
    border-radius: 100px;
    width: 488px;
    height: auto;
    margin-left: 50px;
    transition: 0.5s ease-out;
}

.aboutimage:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    transform: rotateX(-10deg) rotateY(-20deg);
    filter: drop-shadow(30px 10px 10px #02070e);
}


/* Phone (Iphone 11, Iphone X, Iphone 5) */
@media only screen and (max-width: 768px) {
    nav > div > label{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    }

    .indexnav{
        margin-top: 80px;
    }

    #abouttext{
        display: flex;
        flex-direction: column;
        
        padding: 20px;
        padding-bottom: 50px;

        flex-basis: 80%;
        border-radius: 20px;
        background-color: #1a1a1a59;
    }

    #abouttext>h1{
        font-size: 3em;
    }

    .aboutimage{
        border-radius: 90px;
        width: 90%;
        height: auto;
        min-height: 300px;
        padding-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .logoflex > img{
        width: 200px;
    }

    .landing-fade{
        justify-content: center;
    }

    .landing{
        margin-bottom: 20px;
    }

    .aboutimage:hover{
        transition: none;
        transform: none;
    }

}

/* Phone (GALAXY FOLD // EXTRA SMALL PHONES) */
@media only screen and (max-width: 320px) {
    .indexnav > div > label{
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 1024px) {
    #abouttext{
        display: flex;
        flex-direction: column;
        
        padding: 20px;
        padding-bottom: 50px;

        flex-basis: 80%;
        border-radius: 20px;
        background-color: #1a1a1a59;
    }

    .aboutimage{
        border-radius: 90px;
        width: 90%;
        height: auto;
        padding-top: 10px;
        margin-left: 0px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 425px) {
    .aboutimage{
        max-height: 400px;
    }
}

/* >>> ---------- skills.html ----------<<<*/
.skills-body{
    background-color: #242424;
    background-image: linear-gradient(to bottom, #161616 0%, #181818 74%);
}

.prg-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.small-container{
    display: flex;
    flex-basis: 50%;
}

.cs, .py, .html, .css, .js, .sql{
    display: flex;

    height: 8px;
    width: 100%;
    background: rgb(194, 194, 194);
    position: relative;
    border-radius: 10px;
}

.cs::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}


.py::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 90%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.html::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.css::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.js::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 65%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.sql::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 55%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.carditemskills{
    display: flex;
    background: rgb(26, 26, 26);
    flex-basis: 25%;
    height: 250px;
    border-radius: 10px;
    padding: 30px;
    color: white;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.carditemskills:hover{
    transition: all 0.3s linear;
    transform: scale(1.05);
    filter: drop-shadow(-20px 20px 10px #00000069);
}

.card-with-bars{
    display: flex;
    /* flex-wrap: row; */
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    background-color: #222222;
    flex-basis: 55%; 
    height: auto;
}

/* C# Projects */
.container:nth-child(3) > .card:nth-child(1) > .container >.carditemskills:nth-child(1){
    background-image: url(https://c.tenor.com/XgAG1LXjpcYAAAAd/apartamento-qualquer-banner-banner.gif);
    background-blend-mode:soft-light;
    background-size: cover;
}
.container:nth-child(3) > .card:nth-child(1) > .container >.carditemskills:nth-child(2){
    background-image: url(../images/poster.jpg);
    background-blend-mode: soft-light;
}
.container:nth-child(3) > .card:nth-child(1) > .container >.carditemskills:nth-child(3){
    background-image: url(../images/empty-folder-finder.gif);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position-x: -40px;
    background-repeat: no-repeat;
}

/* Python Projects */
.container:nth-child(4) > .card:nth-child(1) > .container >.carditemskills:nth-child(1){
    background-image: url(../images/BG2.jpg);
    background-blend-mode: soft-light;
}
.container:nth-child(4) > .card:nth-child(1) > .container >.carditemskills:nth-child(2){
    background-image: url(../images/poster.jpg);
    background-blend-mode: soft-light;
}
.container:nth-child(4) > .card:nth-child(1) > .container >.carditemskills:nth-child(3){
    background-image: url(../images/computer-vision.jpg);
    background-blend-mode: soft-light;
    background-size:cover;
}

/* Misc. Projects */
.container:nth-child(5) > .card:nth-child(1) > .container >.carditemskills:nth-child(1){
    background-image: url(../images/BG4.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
}
.container:nth-child(5) > .card:nth-child(1) > .container >.carditemskills:nth-child(2){
    background-image: url(../images/poster.jpg);
    background-blend-mode: soft-light;
}
.container:nth-child(5) > .card:nth-child(1) > .container >.carditemskills:nth-child(3){
    background-image: url(../images/BG3.jpg);
    background-blend-mode: soft-light;
}

.carditem-content{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: flex-start;
    flex-basis: 100%;
    
}

.carditem-heading{
    display: flex;
    flex-basis: 100%;
    margin: 0px;
    font-size: 3vh;
    margin-bottom: 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
}

.carditem-description{
    display: none;
    opacity: 0%;
    margin: 0px;
    font-size: 1.8vh;
}

.carditemskills:hover > .carditem-content > .carditem-description{
    display: block;
    opacity: 1;
    transition: opacity 1000ms linear;
}

.skills-button{
    border-color: transparent;
    border-radius: 5px;
    padding:5px 10px;
    background-color: rgb(230, 230, 230);
    font-weight: 600;
    font-family:'Source Sans Pro', sans-serif;
}

.skills-button:hover{
    border-color: rgb(0, 171, 250);
    background-color: transparent;
    color: rgb(0, 171, 250);
    cursor: pointer;
}

.carditem-description>p{
    margin-bottom: 10px;
    margin-top: 0px;
}

/* FOR SMALL LAPTOPS */
@media only screen and (max-width: 1072px) {
    .card-with-bars {
        flex-basis: 50%;
    }

}

/* FOR TABLETS AND MOBILE PHONES */
@media only screen and (max-width: 800px) {
    .card, .card-with-bars, .carditem{
        flex-basis: 80%;
        margin-bottom: 15px;
    }

    .carditemskills{
        padding-left: 20px;
        padding-right: 20px;
        flex-basis: 80%;
        margin-bottom: 2vh;
    }

    .carditem-description{
        display: block;
        opacity: 1;
    }

}

/* >>> ---------- contact.html ----------<<<*/

.contacth1{
    margin-bottom: 2px; 
 }

.contactSubHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color:white;
    font-style: italic;
}

.input-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

input{
    height:40px;
    border-radius: 8px;
    border-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    width: 40.5%;
    background-color: rgba(95, 95, 95, 0.137);
    color: rgb(26, 26, 26);
    padding: 5px;
}

textarea{
    height:40px;
    border-radius: 4px;
    border-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    width: 88%;
    height: 250px;
    background-color: rgba(95, 95, 95, 0.137);
    color: rgb(41, 41, 41);
    padding: 10px;
}

.submitbutton{
    height: 30px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    border: 5px;
    background-color: rgb(45, 45, 45);
    color:white;
    width: 60%;
    height: 4vh;
    cursor:pointer;
}

.container-Contact{
    justify-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
    padding-top: 15vh;
}

#card-Contact{
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 10px;
    flex-basis: 30%;
    border-radius: 20px;
    height: 500px;
    justify-content: center;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);

}

.card2-Contact{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-basis: 30%;
    border-radius: 20px;
    background-color: transparent;

}

.card3-Contact{
    display:flex; 
    justify-content: space-around; 
    margin-top: 30px;
}

.card3-Contact > a:hover{
    transform: scale(1.1);
}


@media only screen and (max-width: 768px) {
    #card-Contact, .card2-Contact{
        flex-basis: 100%;
    }

    #card-Contact{
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .container-Contact{
        padding-top: 10vh;
    }

    .carditem-description>p{
        font-size: 16px;
    }
}

/* >>> ---------- awards.html ---------<<<*/

.white-body{
    background-color: #ffffff;
    background-image: linear-gradient(315deg,#d7e1ec 0%, #ffffff 74%);
    background-size: 1920px 8000px;

}

.white-body > header > .navbar > .nav-container > .menu > li > a {
    color: black;
    
}

.white-body > header > .navbar > .nav-container > .menu > li > a:hover {
    color: #0a99f8;
}

.white-body > header >.navbar.sticky {
    background-color: #ffffff;   
}


.para-list{
    list-style-type: none;
    padding: 0;
    margin:0;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    align-items: center;
    place-items: center;
    min-height: 85vh;

    background-image: url(../images/BG4.jpg);
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 5rem;
            
}

.parallax-h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: white;
    font-size:5rem; 
}

div:nth-child(1) .year{
    background-image: url(../images/poster.jpg);
}

div:nth-child(2) .year{
    background-image: url(../images/BG3.jpg);
    
}

div:nth-child(3) .year{
    background-image: url(../images/BG2.jpg);
    background-position: 500px -900px;
    background-size: cover;
    background-repeat: repeat;
}

div:nth-child(4) .year{
    background-image: url(../images/BG1.jpg);
    background-position: 500px -1000px;
    background-size: cover;
    background-repeat: repeat;
}

/* Only the image-cards on the right would "face" to left (usually there would be 2 image cards in 1 container (1 left[1], 1 right[2])) */
.image-card:hover:nth-child(2){transform: rotateX(-20deg) rotateY(20deg) rotateZ(10deg);}

/* Special (colour)-h2 for white background */
.black-h2{
    color: black;
    margin-top: 0px; 
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 40px;
}


.year{
    font-family: 'Exo', sans-serif;
    font-weight: 900;

    display: flex; 
    justify-content: center; 
    font-size: 500%; 
    margin-top: 10vh; 
    margin-bottom: 0vh;

    /* Turns the text into a mask */
    background-clip: border-box;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.text-card{
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex-basis: 30%;
    border-radius: 20px;
    height: 400px;
    background: transparent;
    flex-basis: 40%;
    height: auto;
}

.image-card{
    display: flex;
    /* flex-wrap: row; */
    flex-direction: row;
    padding: 40px;
    flex-basis: 30%;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.award-image:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
    transform: rotateX(20deg) rotateY(20deg) rotateZ(-10deg);
    filter: drop-shadow(-50px 40px 10px #02070e2a);
}

section > div > .container:nth-child(1){
    flex-direction: row-reverse;
}

section > div > .container:nth-child(3){
    flex-direction: row-reverse;
}

.award-image{
    height:auto; 
    width:80%; 
    border-radius: 10px;
    max-width: 400px;
    max-height: 500px;
    transition: all 0.3s ease-out;
}

@media only screen and (max-width: 768px) {

    /* ------- NAVIGATION (BAR) WHITE BACKGROUND -------- */

    .white-body > header >.navbar.sticky {
        position: fixed;
        width: 100%;
        background-color: #363636;
        top: 0;
        z-index: 10000;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .white-body > header > .navbar > .nav-container > .menu > li > a {
        color: white;
        
    }

    .white-body > header > .navbar > .nav-container > label > .bar .middle{
        height : 4px;
        width: 33px;
        background: rgba(172, 172, 172);
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }
    .white-body > header > .navbar > .nav-container > label > .bar .top{
        bottom: 10px;
        height : 4px;
        width: 35px;
        background: rgba(172, 172, 172);
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }
    .white-body > header > .navbar > .nav-container > label > .bar .bottom{
        top: 10px;
        height : 4px;
        width: 35px;
        background: rgba(172, 172, 172);
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }

    /* ------------------------------------------------------------- */

    .para-list{
        min-height: 25vh;
    }

    .text-card{
        align-items: center;
        text-align: center;
        align-content: center;
        flex-basis: 80%;
        padding: 0px;
    }

    .image-card{
        align-items: center;
        align-content: center;
        flex-basis: 100%;
        justify-content: center;
    }

    .para-list{
        font-size:2.8rem; 
        margin-top: 5%;
        border-radius: 20px;
        min-height: 80vh;
        margin-left: 0px;
        margin-right: 0px;
    }

    .parallax-h1{
        font-size:2.8rem; 
    }

    .year{
        font-size: 55px;
    }

    /* Stop animation for mobile */
    .image-card:hover{
        transition: none;
        transform: none;
    }
}

