/* Background Fallback/default colour */
body{
    background-color: #292929;
    margin: 0;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(45%);
}

html{
    scroll-behavior: smooth;
}

/* <p>/<a> font */
p, a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
}

/* <h1> font */
h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    color: white;
}


/*---------------->>> FLEX BOX STUFF <<<---------------- */

/* container class */
.container{
    justify-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
}

/* card template */
.card{
    display: flex;
    /* flex-wrap: row; */
    flex-direction: column;
    padding: 40px;
    flex-basis: 30%;
    border-radius: 20px;
    background-color: #222222;
    height: 400px;
    }


/* >>> ---------- NAVIGATION (NAV) BAR ----------<<<*/

.navbar{
    position: relative;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-out;
}

.navbar.sticky {
    position: fixed;
    width: 100%;
    background-color: #363636;
    top: 0;
    z-index: 10000;
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav-container{
    max-width: 1300px;
    margin: auto;
}

.bar, .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > .nav-container  > .logo > a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar > .nav-container > .menu  {
    padding: 0px;
    
}

.navbar > .nav-container > .menu > li > a {
    color: #BFBFBF;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    
}

.navbar > .nav-container > .menu > li > a:hover {
    font-weight: 600;
    color: #0a99f8;
    border-bottom: 3px solid #0a99f8;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    transition: ease-in-out 0.1s; 
}

.navbar > .nav-container > .menu > li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;

}

#hamburger{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

label{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: rgb(170, 170, 170);
    font-weight: 300;
}

.logo{
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    #hamburger{
        -webkit-appearance: none;
        visibility: hidden;
        display: none;
    }

    .bar{
        position: relative;
        cursor:pointer;
        display: flex;
        justify-content: center;
        position:relative;
        right: 50px;
    }

    .bar .middle{
        height : 4px;
        width: 33px;
        background: white;
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }
    .bar .top{
        bottom: 10px;
        height : 4px;
        width: 35px;
        background: white;
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }
    .bar .bottom{
        top: 10px;
        height : 4px;
        width: 35px;
        background: white;
        border-radius: 50px;
        position: absolute;
        transition: 0.3s ease;
    }

    #hamburger:checked ~ .bar .top{
        transform: rotate(-45deg);
        width: 27px;
        transform-origin: right;
        top: -10px
    }

    #hamburger:checked ~ .bar .bottom{
        transform: rotate(45deg);
        width: 27px;
        transform-origin: right;
        top: 10px
    }
    
    #hamburger:checked ~ .bar .middle{
        transform: translateX(20px);
        opacity: 0;
    }

    .navbar .menu{
        display: none;
        
    }

    .navbar .menu.open {
        display: block;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 50px;
        left: 0;
        background: rgb(31, 31, 31);
        text-align: center;
        z-index: 100;
    }

    .navbar > .nav-container > .menu > li{
        display: block;
    }

    .navbar > .nav-container > .menu > li > a{
        display: inline-block;
        font-size: 30px;
        margin: 50px;
        background: rgb(37, 37, 37);
        justify-content: center;
        align-items: center;
        width: 50vw;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border-radius: 30px;
        
    }

    .logo{
        margin-left: 20px;
    }
}


/* >>> ---------- index.html ----------<<<*/
.landing{
    min-height: 80vh;
}

.logoflex{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    
    color: #E0E0E0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    
}

.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #E0E0E0;
    font-family: 'Quicksand', sans-serif;
}

#typewriter{
    color: rgb(253, 70, 70);
    margin-top: 2px;
    margin-left: 5px;

    
}

#blinkingCursor{
    margin-top: 2px;
    margin-left: 0px;
    border-right: solid white 2px;
    height: 20px;
}


.indexnav{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
}

.indexnav > div > label{
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.indexnav > div > a:link, a:visited{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

.indexnav > div > a:hover{
    color: rgb(96, 104, 255);
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

.aboutme{
    min-height: 100vh;
    background-color: #1f1f1f;
    color: white;
    background: linear-gradient(to bottom, transparent, #1f1f1f 4%);
}


.abouttext{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    padding-bottom: 50px;

    flex-basis: 40%;
    border-radius: 20px;
    background-color: #1a1a1a59;
}

.aboutimage{
    border-radius: 100px;
    width: 30%;
    height: auto;
    margin-left: 50px;
    transition: 0.5s ease-out;

}

.aboutimage:hover{
    transition: all 0.5s linear;
    transform: scale(1.1);
    transform: rotateX(-10deg) rotateY(10deg);
}


/* Phone (Iphone 11, Iphone X, Iphone 5) */
@media only screen and (max-width: 456px) {
    nav > div > label{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    }

    .indexnav{
        margin-top: 80px;
    }

    .abouttext{
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    padding-bottom: 50px;

    flex-basis: 80%;
    border-radius: 20px;
    background-color: #1a1a1a59;
    }

    .aboutimage{
        border-radius: 90px;
        width: 90%;
        height: auto;
        min-height: 300px;
        padding-top: 10px;
        margin-left: 0px;
    }

    .logoflex > img{
        width: 200px;
    }
}

/* Phone (GALAXY FOLD // EXTRA SMALL PHONES) */
@media only screen and (max-width: 320px) {
    .indexnav > div > label{
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }

}

@media only screen and (max-width: 1024px) {
    .abouttext{
        display: flex;
        /* flex-wrap: row; */
        flex-direction: column;
        
        padding: 20px;
        padding-bottom: 50px;

        flex-basis: 80%;
        border-radius: 20px;
        background-color: #1a1a1a59;
    }

    .aboutimage{
        border-radius: 90px;
        width: 90%;
        height: auto;
        padding-top: 10px;
        margin-left: 0px;
    }
}

@media only screen and (max-width: 425px) {
    .aboutimage{
        max-height: 400px;
    }
}

/* >>> ---------- skills.html ----------<<<*/
.prg-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.small-container{
    display: flex;
    flex-basis: 50%;
}

.cs, .py, .html, .css, .js, .sql{
    display: flex;

    height: 8px;
    width: 100%;
    background: rgb(194, 194, 194);
    position: relative;
    border-radius: 10px;
}

.cs::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}


.py::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 90%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.html::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.css::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.js::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 65%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.sql::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 55%;
    left: 0;
    top: 0;
    background: rgb(168, 122, 255);
    border-radius: 10px;
}

.carditemskills{
    display: flex;
    background: rgb(26, 26, 26);
    flex-basis: 25%;
    height: 250px;
    border-radius: 10px;
    padding: 30px;
    color: white;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
}

.carditemskills:hover{
    transition: all 0.3s linear;
    transform: scale(1.05);
}

.card-with-bars{
    display: flex;
    /* flex-wrap: row; */
    flex-direction: column;
    padding: 40px;
    border-radius: 20px;
    background-color: #222222;
    flex-basis: 55%; 
    height: auto;
}

/* FOR SMALL LAPTOPS */
@media only screen and (max-width: 1072px) {
    .card-with-bars {
        flex-basis: 50%;
    }

}

/* FOR TABLETS AND MOBILE PHONES */
@media only screen and (max-width: 800px) {
    .card, .card-with-bars, .carditem{
        flex-basis: 80%;
        margin-bottom: 15px;
    }

    .carditemskills{
        flex-basis: 80%;
        margin-bottom: 2vh;
    }

}

/* >>> ---------- contact.html ----------<<<*/

.contacth1{
    margin-bottom: 2px; 
 }

.contactSubHeader {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color:white;
    font-style: italic;
}

.input-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

input{
    height:40px;
    border-radius: 8px;
    border-color: rgba(182, 182, 182, 0.801);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    width: 40.5%;
    background-color: rgba(95, 95, 95, 0.137);
    color: rgb(26, 26, 26);
    padding: 5px;
}

textarea{
    height:40px;
    border-radius: 4px;
    border-color: rgba(182, 182, 182, 0.801);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    width: 88%;
    height: 250px;
    background-color: rgba(95, 95, 95, 0.137);
    color: rgb(41, 41, 41);
    padding: 10px;
}

.submitbutton{
    height: 30px;
    border-radius: 7px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    border: 5px;
    background-color: rgb(45, 45, 45);
    color:white;
    width: 60%;
    height: 4vh;

}

.container-Contact{
    justify-content: space-around;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
    padding-top: 20vh;
}

.card-Contact{
    display: flex;
    flex-direction: column;
    padding: 40px;
    flex-basis: 30%;
    border-radius: 20px;
    height: 500px;
    justify-content: center;
    background-color: #c7c7c7f1;
}

.card2-Contact{
    display: flex;
    /* flex-wrap: row; */
    flex-direction: column;
    padding: 20px;
    flex-basis: 30%;
    border-radius: 20px;
    background-color: transparent;

}


@media only screen and (max-width: 768px) {
    .card-Contact, .card2-Contact{
        flex-basis: 100%;
    }

    .card-Contact{
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .container-Contact{
        padding-top: 200px;
    }
}