/* Background Fallback/default colour */
body{
    background-color: #292929;
    margin: 0;
}

/* <p>/<a> font */
p, a{
    font-family: 'Quicksand', sans-serif;
}

/* <h1> font */
h1{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/* container class */
.container{
    justify-content: center;
    display: flex;
    flex-flow: wrap row;
    padding-top: 100px;
}


/* >>> ---------- NAVIGATION (NAV) BAR ----------<<<*/
.navbar{
    position: fixed;
    width: 100%;
    background-color: #363636;
}

.nav-container{
    max-width: 1300px;
    margin: auto;
}

.bar, .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > .nav-container  > .logo > a {
    color: #BFBFBF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar > .nav-container > .menu  {
    padding: 0px;
    
}

.navbar > .nav-container > .menu > li > a {
    color: #BFBFBF;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    
}

.navbar > .nav-container > .menu > li {
    list-style-type: none;
    display: inline-block;
    padding: 0px;

}

